$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$top-row-height: 75%;
$left-column-width: 20%;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body, #map_canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#container {
  height: 100%;
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.columnWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  logger {
    flex: 1 (100 - $top-row-height);
    height: (100 - $top-row-height);
    border-top: 1px solid black;
    padding: 0 10px;

    .console {
      overflow-y: scroll;
      font-size: 12px;
      height: 85%;

      .record {
        cursor: pointer;
        .timestamp {
          font-weight: bold;
        }
        &.info {
          color: black;
        }
        &.important {
          color: orange;
        }
        &.emergency {
          color: red;
        }
      }
    }
  }

  .maps {
    flex: 1 $top-row-height;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;

    settings {
      flex: 1 $left-column-width;
      height: $top-row-height;

      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      overflow: scroll;

      .activeUsers {
        width: 100%;
        .users {
          width: 100%;
          font-size: 11px;
        }
      }

      .controls {
      }

      .info {

        .infoSheet {
          padding: 10px;
          border: 1px solid grey;

          .assistance {
            font-size: 16px;
            color: red;
            font-weight: bold;
            display: block;
          }
        }
      }
    }
    maps {
      flex: 1 (100 - $left-column-width);
      height: $top-row-height;
    }

    #map_canvas {
      position: relative;
    }

    .angular-google-map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}


