<div class="title">Console</div>
<div class="console">
  <div class="record {{message.severity}}" ng-repeat="message in loggerVm.model.logMessages"
       ng-click="loggerVm.model.clickLog(message.deviceId)">
    <span class="timestamp">{{message.timestamp.format('MM/DD/YY - hh:mm:ss a')}}:</span>
    <span class="message">{{message.message}}</span>
  </div>
</div>
