<div id="map_canvas">
  <ui-gmap-google-map center="mapsVm.model.map.center" zoom="mapsVm.model.map.zoom"
                      draggable="true" options="mapsVm.model.map.options" control="mapsVm.model.map.control">
    <ui-gmap-markers models="mapsVm.model.destination"
                     coords="'coords'"
                     icon="'icon'"
                     idkey="'id'">
    </ui-gmap-markers>
    <ui-gmap-markers models="mapsVm.model.filteredMarkers" coords="'coords'" idkey="'deviceId'" icon="'icon'"
                     click="mapsVm.model.onClick">
    </ui-gmap-markers>
    <ui-gmap-polylines models="mapsVm.model.path" path="'path'" stroke="'stroke'"
                       idkey="'id'"></ui-gmap-polylines>
  </ui-gmap-google-map>
</div>
