<div class="upperSettings">
  <div class="controls">
    <div class="title">Filters</div>
    <label>
      <input type="checkbox" ng-model="settingsVm.model.enableGuards" ng-change="settingsVm.model.filterGuards()"/>
      Show guards
    </label><br/>
    <label>
      <input type="checkbox" ng-model="settingsVm.model.enableStudents" ng-change="settingsVm.model.filterStudents()"/>
      Show students
    </label><br/>
  </div>
  <div class="activeUsers">
    <div class="title">Active users</div>
    <select class="users" size="10"
            ng-options="user as user.userInfo.name for user in settingsVm.model.filteredMarkers track by user.deviceId"
            ng-model="settingsVm.model.details">
      <option value=""></option>
    </select>
  </div>
</div>
<div class="info" ng-if="settingsVm.model.details">
  <div class="title">Information Sheet</div>
  <div ng-click="settingsVm.model.closeDetail"></div>
  <div class="infoSheet">
    <label ng-if="settingsVm.model.details.emergency" class="assistance">Assistance required!</label>
    <label>Name:</label> {{settingsVm.model.details.userInfo.name}}<br/>
    <label>Type:</label> {{settingsVm.model.details.userInfo.userType}}<br/>
    <label>Contact:</label> <a
    href="tel:{{settingsVm.model.details.userInfo.contact}}">{{settingsVm.model.details.userInfo.contact}}</a><br/>
    <label>Emergency:</label> <a
    href="tel:{{settingsVm.model.details.userInfo.emergency}}">{{settingsVm.model.details.userInfo.emergency}}</a><br/>
    <label>Gender:</label> {{settingsVm.model.details.userInfo.gender}}<br/>
    <label>Age:</label> {{settingsVm.model.details.userInfo.age}}<br/>
  </div>
</div>
